@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Researcher;
  src: url(/fonts/Researcher.otf);
}

@font-face {
  font-family: Aquire;
  src: url(/fonts/Aquire.otf);
}

html {
  background-color: #010101;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #313131;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 3px solid #313131;
  border-radius: 8px;
}

.bg {
  /* background: url(/images/hero/footer-bg.jpg); */
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.nav {
  padding: 0.5em 1em;
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  z-index: 10;
  backdrop-filter: blur(14.3px);
  -webkit-backdrop-filter: blur(14.3px);
  background: rgba(0, 0, 0, 0.36);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.profile-menu {
  position: absolute;
  top: 40px;
  border-radius: 4px;
  background-color: #010101;
  padding: 0.5em 0.7em;
  font-family: Aquire;
  right: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.button {
  background-color: #fff;
  color: black;
  padding: 4px 16px;
  border-radius: 4px;
  font-family: Aquire;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  min-height: 140px;
}

.form {
  max-width: 400px;
  width: 100%;
}

.form-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

form .input-box {
  /* width: calc(100% / 2 - 20px); */
  width: 100%;
}

form .input-box label {
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: Aquire;
  letter-spacing: 2.61px;
}

input[type="file"] {
  display: none;
}

form .img-label {
  color: #fff;
  height: 40px;
  width: 100%;
  background-color: #2b2b37;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-family: Aquire;
}

form .input-box input,
form .input-box select,
form button,
form textarea {
  background: #2b2b37 !important;
  resize: none;
  height: 50px;
}

.login-input {
  height: 50px;
}

form textarea {
  height: 100%;
  padding: 0.2em 0.5em !important;
  font-size: 0.9rem !important;
}

form button {
  letter-spacing: 3.625px;
  font-family: Aquire;
  background-color: transparent !important;
  height: 45px !important;
}

/* Style for the individual options */
#category option[value="live-action"],
#recommend-category option[value="live-action"],
#category option[value="animation"],
#recommend-category option[value="animation"],
#category option[value=""],
#category option[value="latest"],
#category option[value="popular"] {
  background-color: #2b2b37;
  color: #fff;
}

#category option:checked {
  background-color: #444449;
  color: #fff;
}

#category {
  width: 100%;
  max-width: 250px;
  outline: none;
  border: 1px solid white;
  background-color: transparent;
  height: 40px;
  padding: 0.2em 0.7em;
  border-radius: 4px;
  margin-top: 2em;
  cursor: pointer;
}

/* skeleton styles */

.card-skeleton {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.card-skeleton .left-col {
  margin-right: 1rem;
}

.card-skeleton .right-col {
  flex: 1;
}

.skeleton__img {
  width: 112px;
  height: 198px;
}

.skeleton__btn {
  height: 45px;
}

.skeleton-heart__btn {
  width: 30px;
}

.skeleton-year {
  width: 50px;
}

.skeleton-recommended {
  width: 110px;
}

/* media query */
@media screen and (min-width: 320px) {
  .films {
    padding: 5em 2em 2em 2em;
  }

  .skeleton {
    height: 50px;
  }

  .nav-menu {
    display: none;
  }
}

@media screen and (min-width: 375px) {
  .films {
    padding: 4em 2em 2em 2em;
  }

  .nav-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .films,
  .recommend {
    padding: 4em;
    padding-top: 5em;
  }

  .nav-menu {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .profile-menu {
    display: none;
  }

  .nav-menu {
    display: flex;
  }

  .image {
    width: 210px;
  }

  .nav {
    padding: 0.7em 2.5em !important;
  }

  .skeleton__img {
    width: 192px;
    height: 300px;
  }

  .skeleton-heart__btn {
    width: 50px;
  }

  .skeleton-recommended {
    width: 150px;
  }
}

@media screen and (max-width: 426px) {
  #category {
    max-width: 100% !important;
    width: 100%;
  }
}
