@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Researcher;
  src: url(/fonts/Researcher.otf);
}

@font-face {
  font-family: Aquire;
  src: url(/fonts/Aquire.otf);
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #313131;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 3px solid #313131;
  border-radius: 8px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #808080 inset;
  /* Set the background color to your preferred color */
  background-color: transparent; /* or any other color you want */
}

html {
  background-color: #010101;
}

a:focus,
a:active {
  outline: none;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.films-hero,
.home-hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.home-hero {
  background: url(/images/hero/footer-bg.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.nav {
  padding: 0.5em 1em;
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  z-index: 10;
  backdrop-filter: blur(14.3px);
  -webkit-backdrop-filter: blur(14.3px);
  background: rgba(0, 0, 0, 0.36);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.profile-menu {
  position: absolute;
  top: 40px;
  border-radius: 4px;
  background-color: #010101;
  padding: 0.5em 0.7em;
  font-family: Aquire;
  right: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.button {
  background-color: #fff;
  color: black;
  padding: 4px 16px;
  border-radius: 4px;
  font-family: Aquire;
}

/* genre movie modal */
.main-container__modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genre-movie__modal {
  padding-bottom: 6em;
  margin-top: 4em;
  height: 100vh;
  width: 80%;
  background-color: rgb(24, 24, 24);
  color: #fff;
  border-radius: 2px;
  position: relative;
  overflow-y: auto;
  padding-left: 2em;
  padding-right: 2em;
}

.genre-movie__modal-close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal-open {
  overflow: hidden;
}

/* logout modal */
.logout-modal-bg {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-modal {
  margin-top: 4em;
  height: 30vh;
  width: 80%;
  background-color: #2d3748;
  border-radius: 4px;
  position: relative;
  overflow-y: auto;
}

.logout-modal__header {
  width: 100%;
  padding: 0.7em 0 0.7em 0.7em;
}

.logout-modal__body {
  padding: 0.7em 0.8em;
}

.logout-model__footer .no-btn {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.4em 1em;
  border-radius: 2px;
}

.logout-model__footer .yes-btn {
  background-color: #feb2b2;
  padding: 0.4em 1em;
  border-radius: 2px;
}

/* form */
.form {
  max-width: 400px;
  width: 100%;
}

.form-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

form .input-box {
  width: 100%;
}

form .input-box label {
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: Aquire;
  letter-spacing: 2.61px;
}

input[type="file"] {
  display: none;
}

form .img-label {
  color: #fff;
  height: 40px;
  width: 100%;
  background-color: #2b2b37;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-family: Aquire;
}

form .input-box input,
form .input-box select,
form textarea {
  resize: none !important;
}

.login-input {
  height: 50px;
}

form textarea {
  height: 100%;
  padding: 0.2em 0.5em !important;
  font-size: 0.9rem !important;
}

form button {
  letter-spacing: 3.625px;
  font-family: Aquire;
  height: 45px !important;
}

/* Style for the individual options */

#genre option {
  background-color: #2b2b37;
  color: #fff;
}

#genre option:checked {
  background-color: #444449;
  color: #fff;
}

#genre {
  width: 100%;
  outline: none;
  border: 1px solid white;
  background-color: transparent;
  height: 40px;
  padding: 0.2em 0.7em;
  border-radius: 4px;
  cursor: pointer;
}

/* swiper */

.swiper-button-next {
  background-image: url(/right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 70px !important;
  position: absolute;
  right: -10px !important;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(/left.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}

.film-details {
  width: 100%;
}

.film-image {
  width: 100%;
  height: auto;
}

.home-desc {
  max-width: 300px;
  margin: 0 auto;
}

/* card skeleton */
.card-skeleton-mobile {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 1em;
}

.card-skeleton-mobile .left-col {
  flex: 1;
}

.card-skeleton-mobile .right-col {
  flex: 1;
}

.card-skeleton-mobile .card-img-skeleton {
  height: 210px;
}

/* recommend card */

.recommend-card {
  width: 100%;
  height: 340px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
}

/* media query */
@media screen and (min-width: 320px) {
  .genre-movie__modal {
    padding-bottom: 2em;
    margin-top: 0;
    padding-right: 1em;
    padding-left: 1em;
    height: 90vh;
    width: 90%;
  }

  .films {
    padding: 4em 1rem;
    padding-bottom: 1em;
  }

  .nav-menu {
    display: none;
  }
  .skeleton-card-tablet,
  .skeleton-card-desktop,
  .skeleton-card-large-screen,
  .film-details-skeleton__tablet {
    display: none;
  }

  .film-details-skeleton-img {
    height: 210px;
  }

  .image,
  .recommend-card,
  .card-img-skeleton {
    width: 100% !important;
    height: 210px !important;
  }

  .modal-image {
    object-fit: cover;
    height: 170px;
    width: 100%;
  }
}

@media screen and (min-width: 360px) {
  .image,
  .recommend-card,
  .card-img-skeleton {
    width: 100% !important;
    height: 230px !important;
  }

  .card-img-skeleton {
    height: 230px !important;
  }

  .modal-image {
    object-fit: cover;
    height: 190px;
    width: 100%;
  }

  .logout-modal {
    width: 70%;
  }
}

@media screen and (min-width: 375px) {
  .films {
    padding: 4em 1rem;
    padding-bottom: 1em;
  }

  .modal-image {
    object-fit: cover;
    height: 220px;
    width: 100%;
  }

  .logout-modal {
    width: 70%;
  }

  .nav-menu {
    display: none;
  }

  .image,
  .recommend-card,
  .card-img-skeleton {
    width: 100% !important;
    height: 250px !important;
  }

  .skeleton-card-tablet,
  .skeleton-card-desktop,
  .skeleton-card-large-screen,
  .film-details-skeleton__tablet {
    display: none;
  }

  .film-details-skeleton-img {
    height: 230px;
  }
}

@media screen and (min-width: 425px) {
  .skeleton-card-tablet,
  .skeleton-card-desktop,
  .skeleton-card-large-screen,
  .film-details-skeleton__tablet {
    display: none;
  }

  .logout-modal {
    width: 70%;
  }

  .modal-image {
    object-fit: cover;
    height: 240px;
    width: 100%;
  }

  .film-details-skeleton-img {
    height: 260px;
  }

  .film-details-skeleton__mobile {
    display: block;
  }

  .image,
  .recommend-card,
  .card-img-skeleton {
    width: 100% !important;
    height: 280px !important;
  }
}

@media screen and (min-width: 768px) {
  .skeleton-card-mobile,
  .skeleton-card-desktop,
  .skeleton-card-large-screen,
  .film-details-skeleton__mobile {
    display: none;
  }

  .logout-modal {
    width: 40%;
  }

  .logout-modal__header {
    width: 100%;
    padding: 1em 0 0 1em;
  }

  .logout-modal__body {
    padding: 0.7em 1em;
  }

  .genre-movie__modal {
    padding-right: 2em;
    padding-left: 2em;
  }

  .modal-image {
    object-fit: cover;
    height: 300px;
    width: 100%;
  }

  .hide-skeleton {
    display: none;
  }

  .hide-skeleton-tablet {
    display: none;
  }

  .film-details-skeleton-img-tablet {
    height: 330px;
  }

  .skeleton-card-tablet,
  .film-details-skeleton__tablet {
    display: block;
  }

  .card-skeleton-tablet {
    display: flex;
    gap: 1em;
  }

  .card-skeleton-tablet .card-img {
    width: 30%;
    flex: 1;
  }

  .film-image {
    width: 270px !important;
    height: auto;
  }

  .image,
  .recommend-card {
    width: 100% !important;
    height: 340px !important;
  }

  .film-info {
    max-width: 400px;
  }

  .films,
  .recommend {
    padding: 4em;
  }

  .films {
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 1em;
  }

  .nav-menu {
    display: none;
  }

  .nav {
    padding: 0.7em 2em;
  }
}

@media screen and (min-width: 1024px) {
  .skeleton-card-tablet,
  .skeleton-card-large-screen {
    display: none;
  }

  .logout-modal {
    width: 30%;
  }

  .modal-image {
    object-fit: cover;
    height: 330px;
    width: 100%;
  }

  .hide-skeleton {
    display: block;
  }

  .skeleton-card-desktop {
    display: block !important;
  }

  .card-skeleton-desktop {
    display: flex;
    gap: 1em;
  }

  .card-skeleton-desktop .card-img {
    width: 30%;
    flex: 1;
  }

  .film-image {
    width: 300px !important;
  }

  .film-info {
    max-width: 550px;
  }

  .films,
  .recommend {
    padding: 2em;
    padding-top: 5em;
    padding-bottom: 1em;
  }

  .profile-menu {
    display: none;
  }

  .nav-menu {
    display: flex;
  }

  .image {
    width: 100% !important;
    height: 340px;
    object-fit: cover !important;
  }

  .nav {
    padding: 0.5em 2em !important;
  }
}

@media screen and (min-width: 1440px) {
  .skeleton-card-desktop {
    display: none !important;
  }

  .logout-modal {
    height: 200px;
    width: 20%;
  }

  .modal-image {
    object-fit: cover;
    height: 330px;
    width: 100%;
  }

  .hide-skeleton-tablet {
    display: block;
  }

  .skeleton-card-large-screen {
    display: block;
  }

  .card-skeleton-large-screen {
    display: flex;
    gap: 1em;
  }

  .card-skeleton-large-screen .card-img {
    width: 20%;
    flex: 1;
  }
}

@media screen and (max-width: 426px) {
  #category {
    max-width: 100% !important;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }

  .tooltip-hidden {
    display: none;
  }
}
